<footer class="section-p1">

    <!-- ==================== FOOTER ==================== -->
    <!-- Pie de página con información de contacto y enlaces -->
    <footer class="section-p1">
        <div class="col">
            <h4>Contacto</h4>
            <p><strong>Teléfono:</strong> +54 11 8765</p>
            <div class="follow">
                <h4>Seguinos</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Mi Cuenta</h4>
            <a href="#">Iniciar Sesión</a>
            <a href="#">Mis Favoritos</a>
            <a href="#">Ayuda</a>
        </div>
        <div class="col install">
            <h4>Descargá la App</h4>
            <p>Desde App Store o Google Play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="App Store">
                <img src="img/pay/play.jpg" alt="Google Play">
            </div>
            
        </div>
        <div class="copyright">
            <p>@2026 MP sites</p>
        </div>
    </footer>