<header class="header">

    <a href="/Cinelandia/index.html"><img src="/Cinelandia/img/logo_cinelandia.png" class="logo" alt="Cinelandia"></a>

    <div>

        <ul id="navbar" class="navbar">

            <li><a href="/Cinelandia/index.html">Home</a></li>
            <li><a href="/Cinelandia/buscador/buscador.html">Buscador</a></li>
            <li><a href="/Cinelandia/pelis/pelis.html">Pelis</a></li>
            <li><a href="/Cinelandia/series/series.html">Series</a></li>
            <li><a href="/Cinelandia/noticias/noticias.html">Noticias</a></li>
            <li><a href="/Cinelandia/contacto/contacto.html">Contacto</a></li>

        </ul>

    </div>

    <button
        id="darkModeBtn"
        class="dark-btn"
        aria-label="Modo oscuro">
        🌙
    </button>

</header>